@import "_Variables";
@import "_Fonts";
@import "_Mixins";

@keyframes shakeAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(7px);
  }
  75% {
    transform: translateY(-7px);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
li,
ul {
  padding: 0;
  margin: 0;
}
.sideMenu.show {
  @media (max-width: 992px) {
    position: fixed;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: white;
    transition: left 0.3s ease-in-out;
    z-index: 999;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    left: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    [dir="rtl"] & {
      right: 0;
      padding-left: auto;
      padding-right: 1rem;
    }
  }
}

body {
  overflow-x: hidden;
  [dir="ltr"] & {
    font-family: "Inter", sans-serif;
  }
  [dir="rtl"] & {
    font-family: "Cairo", sans-serif;
  }
  @media (max-width: 992px) {
    &.show {
      overflow: hidden;
      .filter {
        @include position(fixed, 0, 0, null, null);
        background-color: rgba(0, 0, 0, 0.596);
        height: 100vh;
        width: 100%;
        z-index: 1;
      }
    }
  }
  .collapse {
    .show {
      width: 10px;
    }
  }
  .navbar-toggler-icon {
    font-size: 18px;
  }
  .navLink {
    @include text-style;
    text-decoration: none;
  }
  .hero-section {
    background-color: $bg-color;
    .logo {
      cursor: pointer;
      @media (max-width: 991.86) {
        width: 135px;
      }
      @media (max-width: 768px) {
        width: 115px;
      }
    }
    i {
      font-size: 30px;
      cursor: pointer;
    }
    .buttons {
      .loginBtn,
      .SignBtn {
        @media (min-width: 992px) {
          @include text-style($color: $primary-color, $weight: 600);
        }
        @media (max-width: 991.86px) and (min-width: 768px) {
          @include text-style($size: 16px);
        }
        @media (max-width: 768px) {
          @include text-style($size: 12px);
        }
      }
    }
    .main {
      h1 {
        @include text-style($secondry-color, null, 600);
        @media (min-width: 992px) {
          @include text-style(null, 64px, null);
          [dir="rtl"] & {
            width: 64%;
          }
        }
        @media (max-width: 991.86px) and (min-width: 767px) {
          @include text-style(null, 45px, null);
        }
        @media (max-width: 768px) {
          @include text-style(null, 30px, null);
        }
      }
      .mainImg {
        animation: shakeAnimation 2s ease-in-out infinite;
      }
      .mainText {
        animation-duration: 2s;
      }
      span {
        color: $primary-color;
      }
      p {
        @include text-style(#717171, 16px, 400);
      }
      button {
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }
  }
  .targetAudience {
    .targetAudience_top {
      h2 {
        @include text-style($secondry-color, null, 400);
        @media (min-width: 992px) {
          @include text-style(null, 36px, null);
          width: 42%;
        }
        @media (max-width: 991.86px) and (min-width: 767px) {
          @include text-style(null, 30px, null);
          width: 70%;
        }
        @media (max-width: 768px) {
          @include text-style(null, 25px, null);
          width: 100%;
        }
      }
      p {
        @include text-style(#717171, 16px, 400);
      }
    }
    .targetAudience_bottom {
      .oneCard {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        padding: 20px;
        @media (min-width: 992px) {
          width: 25%;
        }
        @media (max-width: 991.86px) and (min-width: 767px) {
          width: 30%;
        }
        @media (max-width: 768px) {
          width: 60%;
        }
        .cardIcon {
          .icon {
            @include position(absolute, null, null, null, -16px);
          }
        }
        &.thirdCard {
          .title {
            @media (min-width: 992px) {
              width: 75%;
            }
            @media (max-width: 991.86px) {
              width: 100%;
            }
          }
        }
        .title {
          @include text-style($secondry-color, null, 700);
          @media (min-width: 992px) {
            @include text-style(null, 28px, null);
          }
          @media (max-width: 991.86px) and (min-width: 767px) {
            @include text-style(null, 24px, null);
          }
          @media (max-width: 768px) {
            @include text-style(null, 20px, null);
          }
        }
        .description {
          @include text-style(#717171, 14px, 400);
        }
      }
    }
  }
  .twoPartsSection {
    .twoPartsSection-right {
      h2 {
        @include text-style($secondry-color, null, 400);
        @media (min-width: 992px) {
          @include text-style(null, 36px, null);
        }
        @media (max-width: 991.86px) and (min-width: 767px) {
          @include text-style(null, 30px, null);
        }
        @media (max-width: 768px) {
          @include text-style(null, 25px null);
        }
      }
      p {
        @include text-style(#717171, 14px, 400);
      }
      button {
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }
  }
  .features {
    background-color: $bg-color;
    .left {
      h2 {
        @include text-style($secondry-color, null, 400);
        @media (min-width: 992px) {
          @include text-style(null, 36px, null);
        }
        @media (max-width: 991.86px) and (min-width: 767px) {
          @include text-style(null, 30px, null);
        }
        @media (max-width: 768px) {
          @include text-style(null, 25px, null);
        }
        span {
          color: $primary-color;
        }
      }
      p {
        @include text-style(#18191f, 16px, 400);
      }
    }
    .right {
      .iconCard {
        .number {
          @include text-style($secondry-color, null, 700);
          @media (min-width: 992px) {
            @include text-style(null, 28px, null);
          }
          @media (max-width: 991.86px) and (min-width: 767px) {
            @include text-style(null, 24px, null);
          }
          @media (max-width: 768px) {
            @include text-style(null, 20px, null);
          }
        }
        .name {
          @include text-style(#717171, 16px, 400);
        }
      }
    }
  }
  .marketing {
    padding-bottom: 10rem;
    .top {
      @media (min-width: 992px) {
        width: 60%;
        h2 {
          @include text-style($size: 36px);
        }
      }
      @media (max-width: 991.86px) and (min-width: 767px) {
        width: 80%;
        h2 {
          @include text-style($size: 30px);
        }
      }
      @media (max-width: 768px) {
        width: 100%;
        h2 {
          @include text-style($size: 24px);
        }
      }
      p {
        margin-top: 10px;
        @include text-style($size: 16px, $weight: 400);
      }
    }
    .bottom {
      @media (min-width: 992px) {
        gap: 1.5rem;
      }
      @media (max-width: 991.86px) {
        gap: 8rem;
      }
      .text {
        background-color: #f5f7fa;
        border-radius: 0.5rem;
        @include position(absolute, 75%, null, null, 5%);
        width: 90%;
        .firstText {
          @include text-style($size: 20px, $color: #717171);
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .secondText {
          cursor: pointer;
          @include text-style($size: 20px, $color: $primary-color);
        }
      }
    }
  }
  footer {
    background-color: #263238;
    .left {
      .logo {
        cursor: pointer;
      }
      .copyRights {
        p {
          @include text-style(#f5f7fa, 14px, 400);
        }
      }
      .socialIcons {
        .round {
          background-color: #3b464c;
          border-radius: 50%;
          width: 30px;
          height: 30px;
        }
      }
    }
    .right {
      .title {
        @include text-style(#ffffff, 20px, 600);
      }
      .content {
        a {
          text-decoration: none;
          @include text-style(#f5f7fa, 14px, 400);
        }
        input {
          border-radius: 0.5rem;
          background-color: #515b60;
          border-color: #515b60;
          padding: 0.25rem 2rem 0.25rem 0.5rem;
          color: #d9dbe1;
          [dir="rtl"] & {
            padding: 0.25rem 0.5rem 0.25rem 2rem;
          }
          &::placeholder {
            @include text-style(#d9dbe1, 13px, 400);
          }
          @media (min-width: 991.86px) {
            width: 90%;
          }
          @media (max-width: 768px) {
            width: 80%;
          }
        }
        i {
          color: #ffffff;
          cursor: pointer;
          @media (min-width: 992px) {
            @include position(absolute, 6px, 13%, null, null);
            [dir="rtl"] & {
              @include position(absolute, 6px, null, null, 13%);
            }
          }
          @media (max-width: 991.86px) and (min-width: 767px) {
            @include position(absolute, 6px, 6%, null, null);
            [dir="rtl"] & {
              @include position(absolute, 6px, null, null, 6%);
            }
          }
          @media (max-width: 768px) {
            @include position(absolute, 6px, 22%, null, null);
            [dir="rtl"] & {
              @include position(absolute, 6px, null, null, 22%);
            }
          }
        }
      }
    }
  }
}
