@font-face {
  font-family: "Inter";
  src: url(../Fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: "Cairo";
  src: url(../Fonts/Cairo/Cairo-Regular.woff);
}
@keyframes shakeAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(7px);
  }
  75% {
    transform: translateY(-7px);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
li,
ul {
  padding: 0;
  margin: 0;
}

@media (max-width: 992px) {
  .sideMenu.show {
    position: fixed;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: white;
    transition: left 0.3s ease-in-out;
    z-index: 999;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    left: 0;
    padding-top: 1rem;
    padding-left: 1rem;
  }
  [dir=rtl] .sideMenu.show {
    right: 0;
    padding-left: auto;
    padding-right: 1rem;
  }
}

body {
  overflow-x: hidden;
}
[dir=ltr] body {
  font-family: "Inter", sans-serif;
}
[dir=rtl] body {
  font-family: "Cairo", sans-serif;
}
@media (max-width: 992px) {
  body.show {
    overflow: hidden;
  }
  body.show .filter {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.596);
    height: 100vh;
    width: 100%;
    z-index: 1;
  }
}
body .collapse .show {
  width: 10px;
}
body .navbar-toggler-icon {
  font-size: 18px;
}
body .navLink {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
body .hero-section {
  background-color: #f5f7fa;
}
body .hero-section .logo {
  cursor: pointer;
}
@media (max-width: 991.86) {
  body .hero-section .logo {
    width: 135px;
  }
}
@media (max-width: 768px) {
  body .hero-section .logo {
    width: 115px;
  }
}
body .hero-section i {
  font-size: 30px;
  cursor: pointer;
}
@media (min-width: 992px) {
  body .hero-section .buttons .loginBtn,
  body .hero-section .buttons .SignBtn {
    color: #4caf4f;
    font-size: 18px;
    font-weight: 600;
  }
}
@media (max-width: 991.86px) and (min-width: 768px) {
  body .hero-section .buttons .loginBtn,
  body .hero-section .buttons .SignBtn {
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 600;
  }
}
@media (max-width: 768px) {
  body .hero-section .buttons .loginBtn,
  body .hero-section .buttons .SignBtn {
    color: #4d4d4d;
    font-size: 12px;
    font-weight: 600;
  }
}
body .hero-section .main h1 {
  color: #4d4d4d;
  font-weight: 600;
}
@media (min-width: 992px) {
  body .hero-section .main h1 {
    font-size: 64px;
  }
  [dir=rtl] body .hero-section .main h1 {
    width: 64%;
  }
}
@media (max-width: 991.86px) and (min-width: 767px) {
  body .hero-section .main h1 {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  body .hero-section .main h1 {
    font-size: 30px;
  }
}
body .hero-section .main .mainImg {
  animation: shakeAnimation 2s ease-in-out infinite;
}
body .hero-section .main .mainText {
  animation-duration: 2s;
}
body .hero-section .main span {
  color: #4caf4f;
}
body .hero-section .main p {
  color: #717171;
  font-size: 16px;
  font-weight: 400;
}
body .hero-section .main button {
  background-color: #4caf4f;
  border-color: #4caf4f;
}
body .targetAudience .targetAudience_top h2 {
  color: #4d4d4d;
  font-weight: 400;
}
@media (min-width: 992px) {
  body .targetAudience .targetAudience_top h2 {
    font-size: 36px;
    width: 42%;
  }
}
@media (max-width: 991.86px) and (min-width: 767px) {
  body .targetAudience .targetAudience_top h2 {
    font-size: 30px;
    width: 70%;
  }
}
@media (max-width: 768px) {
  body .targetAudience .targetAudience_top h2 {
    font-size: 25px;
    width: 100%;
  }
}
body .targetAudience .targetAudience_top p {
  color: #717171;
  font-size: 16px;
  font-weight: 400;
}
body .targetAudience .targetAudience_bottom .oneCard {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
}
@media (min-width: 992px) {
  body .targetAudience .targetAudience_bottom .oneCard {
    width: 25%;
  }
}
@media (max-width: 991.86px) and (min-width: 767px) {
  body .targetAudience .targetAudience_bottom .oneCard {
    width: 30%;
  }
}
@media (max-width: 768px) {
  body .targetAudience .targetAudience_bottom .oneCard {
    width: 60%;
  }
}
body .targetAudience .targetAudience_bottom .oneCard .cardIcon .icon {
  position: absolute;
  left: -16px;
}
@media (min-width: 992px) {
  body .targetAudience .targetAudience_bottom .oneCard.thirdCard .title {
    width: 75%;
  }
}
@media (max-width: 991.86px) {
  body .targetAudience .targetAudience_bottom .oneCard.thirdCard .title {
    width: 100%;
  }
}
body .targetAudience .targetAudience_bottom .oneCard .title {
  color: #4d4d4d;
  font-weight: 700;
}
@media (min-width: 992px) {
  body .targetAudience .targetAudience_bottom .oneCard .title {
    font-size: 28px;
  }
}
@media (max-width: 991.86px) and (min-width: 767px) {
  body .targetAudience .targetAudience_bottom .oneCard .title {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  body .targetAudience .targetAudience_bottom .oneCard .title {
    font-size: 20px;
  }
}
body .targetAudience .targetAudience_bottom .oneCard .description {
  color: #717171;
  font-size: 14px;
  font-weight: 400;
}
body .twoPartsSection .twoPartsSection-right h2 {
  color: #4d4d4d;
  font-weight: 400;
}
@media (min-width: 992px) {
  body .twoPartsSection .twoPartsSection-right h2 {
    font-size: 36px;
  }
}
@media (max-width: 991.86px) and (min-width: 767px) {
  body .twoPartsSection .twoPartsSection-right h2 {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  body .twoPartsSection .twoPartsSection-right h2 {
    font-size: 25px;
    font-weight: 600;
  }
}
body .twoPartsSection .twoPartsSection-right p {
  color: #717171;
  font-size: 14px;
  font-weight: 400;
}
body .twoPartsSection .twoPartsSection-right button {
  background-color: #4caf4f;
  border-color: #4caf4f;
}
body .features {
  background-color: #f5f7fa;
}
body .features .left h2 {
  color: #4d4d4d;
  font-weight: 400;
}
@media (min-width: 992px) {
  body .features .left h2 {
    font-size: 36px;
  }
}
@media (max-width: 991.86px) and (min-width: 767px) {
  body .features .left h2 {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  body .features .left h2 {
    font-size: 25px;
  }
}
body .features .left h2 span {
  color: #4caf4f;
}
body .features .left p {
  color: #18191f;
  font-size: 16px;
  font-weight: 400;
}
body .features .right .iconCard .number {
  color: #4d4d4d;
  font-weight: 700;
}
@media (min-width: 992px) {
  body .features .right .iconCard .number {
    font-size: 28px;
  }
}
@media (max-width: 991.86px) and (min-width: 767px) {
  body .features .right .iconCard .number {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  body .features .right .iconCard .number {
    font-size: 20px;
  }
}
body .features .right .iconCard .name {
  color: #717171;
  font-size: 16px;
  font-weight: 400;
}
body .marketing {
  padding-bottom: 10rem;
}
@media (min-width: 992px) {
  body .marketing .top {
    width: 60%;
  }
  body .marketing .top h2 {
    color: #4d4d4d;
    font-size: 36px;
    font-weight: 600;
  }
}
@media (max-width: 991.86px) and (min-width: 767px) {
  body .marketing .top {
    width: 80%;
  }
  body .marketing .top h2 {
    color: #4d4d4d;
    font-size: 30px;
    font-weight: 600;
  }
}
@media (max-width: 768px) {
  body .marketing .top {
    width: 100%;
  }
  body .marketing .top h2 {
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 600;
  }
}
body .marketing .top p {
  margin-top: 10px;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 992px) {
  body .marketing .bottom {
    gap: 1.5rem;
  }
}
@media (max-width: 991.86px) {
  body .marketing .bottom {
    gap: 8rem;
  }
}
body .marketing .bottom .text {
  background-color: #f5f7fa;
  border-radius: 0.5rem;
  position: absolute;
  top: 75%;
  left: 5%;
  width: 90%;
}
body .marketing .bottom .text .firstText {
  color: #717171;
  font-size: 20px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .marketing .bottom .text .secondText {
  cursor: pointer;
  color: #4caf4f;
  font-size: 20px;
  font-weight: 600;
}
body footer {
  background-color: #263238;
}
body footer .left .logo {
  cursor: pointer;
}
body footer .left .copyRights p {
  color: #f5f7fa;
  font-size: 14px;
  font-weight: 400;
}
body footer .left .socialIcons .round {
  background-color: #3b464c;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
body footer .right .title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}
body footer .right .content a {
  text-decoration: none;
  color: #f5f7fa;
  font-size: 14px;
  font-weight: 400;
}
body footer .right .content input {
  border-radius: 0.5rem;
  background-color: #515b60;
  border-color: #515b60;
  padding: 0.25rem 2rem 0.25rem 0.5rem;
  color: #d9dbe1;
}
[dir=rtl] body footer .right .content input {
  padding: 0.25rem 0.5rem 0.25rem 2rem;
}
body footer .right .content input::-moz-placeholder {
  color: #d9dbe1;
  font-size: 13px;
  font-weight: 400;
}
body footer .right .content input::placeholder {
  color: #d9dbe1;
  font-size: 13px;
  font-weight: 400;
}
@media (min-width: 991.86px) {
  body footer .right .content input {
    width: 90%;
  }
}
@media (max-width: 768px) {
  body footer .right .content input {
    width: 80%;
  }
}
body footer .right .content i {
  color: #ffffff;
  cursor: pointer;
}
@media (min-width: 992px) {
  body footer .right .content i {
    position: absolute;
    top: 6px;
    right: 13%;
  }
  [dir=rtl] body footer .right .content i {
    position: absolute;
    top: 6px;
    left: 13%;
  }
}
@media (max-width: 991.86px) and (min-width: 767px) {
  body footer .right .content i {
    position: absolute;
    top: 6px;
    right: 6%;
  }
  [dir=rtl] body footer .right .content i {
    position: absolute;
    top: 6px;
    left: 6%;
  }
}
@media (max-width: 768px) {
  body footer .right .content i {
    position: absolute;
    top: 6px;
    right: 22%;
  }
  [dir=rtl] body footer .right .content i {
    position: absolute;
    top: 6px;
    left: 22%;
  }
}/*# sourceMappingURL=Index.css.map */